body {background: #f0f0f0; font-family: monospace;}

.oculto {display: none;}

#ayuda {position: fixed; background: #000; text-align: center; width: 200px; color: #fff; padding: 20px; bottom: 0px; left: 50%; margin-left: -110px; border-radius: 10px 10px 0px 0px;}
#navegacion {position: fixed; background: #000; text-align: center; width: 100px; color: #fff; padding: 10px; bottom: 0px; left: 10%; border-radius: 10px 10px 0px 0px; z-index: 10000;}

#tablas {}
#tablas table {border-collapse: collapse; empty-cells:show; position: absolute; top: 0px; left: 0px;}
#tablas table.actual {z-index: 100;}
#tablas table tr {}
#tablas table tr td {border: 1px dotted #777; background: #fff; cursor: pointer; background-position: 0px 0px;}


#herramientas {width: 600px; height: 300px; overflow: hidden; z-index: 100002 !important;}

#herramientas #herramientas_generales {position: absolute; width: 580px; left: -570px; border-right: 5px dashed #000; transition: all 0.3s; background-color: #ccc; border-radius: 0px 10px 10px 0px; z-index: 2;}
#herramientas #herramientas_generales:hover {left: 0px;}
#herramientas #herramientas_generales #redim_w,
#herramientas #herramientas_generales #redim_h,
#herramientas #herramientas_generales #grid_w,
#herramientas #herramientas_generales #grid_h {width: 2em;} 
#herramientas #herramientas_generales input[type="button"] {margin: 4px;}
#herramientas #herramientas_generales ul#listado_tablas {list-style: none; margin: 0px; padding: 0px;}
#herramientas #herramientas_generales ul#listado_tablas li {float: left; margin: 2px; width: 15px; height: 15px; border: 1px dashed #7F6727; background: #fff; display: block;}
#herramientas #herramientas_generales ul#listado_tablas li.actual {background: #EFC24A; border: 1px solid #7F6727; }


#herramientas #herramientas_tabla {padding-left: 20px; z-index: 1;/*position: absolute; width: 350px; right: -330px; border-left: 5px dashed #ccc; transition: all 0.3s;*/}
/*#herramientas #herramientas_tabla:hover {right: 0px;}*/

#herramientas #herramientas_tabla ul#listado_tiles {overflow: hidden; list-style: none; margin: 0px; padding: 0px; width: 100%; height: 100px; overflow-y: scroll;}
#herramientas #herramientas_tabla ul#listado_tiles li {float: left; margin: 2px;}
#herramientas #herramientas_tabla ul#listado_tiles input {display: none;}
#herramientas #herramientas_tabla ul#listado_tiles label {opacity: 0.5; cursor: pointer; display: block;}
#herramientas #herramientas_tabla ul#listado_tiles input:checked+label {opacity: 1;}
#herramientas #herramientas_tabla input#input_opacidad {width: 3em;}
/*
#herramientas #botonera_tabla {position: absolute; bottom: 0px;}
#herramientas #botonera_tabla input {}
*/
.ui_form_generico {}
.ui_form_generico div {margin: 10px;}
.ui_form_generico label {}
.ui_form_generico input.btn  {border: none; background: #fff; padding: 2px 6px; border-radius: 12px; text-align: center; color: #000; font-weight: bold; cursor: pointer;}
.ui_form_generico input.btn:hover {background: #000; color: #fff; transition: all 0.3s}
.ui_form_generico input.txt  {border: 1px solid #000; background: #fff; color: #000; font-family: monospace;}
.ui_form_generico select {border: none; background: #fff; padding: 2px 6px;}

.pop_up {background: #EFC24A; padding: 10px; box-shadow: 2px 2px 4px rgba(0,0,0,.3); position: fixed; border-radius: 10px;}

#caja_exportar,
#caja_importar {width: 600px; height: 400px; top: 50%; left: 50%; margin-left: -300px; margin-top: -200px; z-index: 10003;}

#caja_exportar label,
#caja_importar label {display: block;}

#caja_exportar #btn_cerrar_exportar,
#caja_importar #btn_cerrar_importar {position: absolute; top: 10px; right: 10px;}

#caja_exportar textarea {width: 90%; height: 80%; margin: 10px auto; background: #000; color: #fff; font-family: monospace; overflow-y: scroll;}
#caja_importar textarea {width: 90%; height: 344px; margin: 10px auto; overflow-y: scroll;}
